
<h1 style="font-size:60px;">This is my first HTML page!!!</h1>
<%= link_to 'About', pages_about_path %>

<h2> <%= image_tag 'strip.jpg' %> </h2>
<p>Stay a while, and listen.</p>



<a href="https://github.com/TAOhalloran/Ruby-Projects/tree/master">Check out my GitHub!</a>

<a href="www.twitter.com/tcr0wn__"> Follow me on twitter</a>
<h3></h3>
<p>Dont let the door hit you on the way out</p>

<button> Exit </button>
